div {
  height: 100vh;
  width: 100vh;
  background-color: rgb(255, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

div > div {
  height: 90vh;
  width: 90vh;
  background-color: rgb(0, 238, 255);
}

div > div > div {
  height: 80vh;
  width: 80vh;
  background-color: rgb(45, 168, 86);
}

div > div > div > div {
  height: 70vh;
  width: 70vh;
  background-color: rgb(168, 45, 162);
}

div > div > div > div > div {
  height: 60vh;
  width: 60vh;
  background-color: rgb(68, 45, 168);
}

div > div > div > div > div > div {
  height: 50vh;
  width: 50vh;
  background-color: rgb(41, 5, 82);
}

div > div > div > div > div > div > div {
  height: 40vh;
  width: 40vh;
  background-color: rgb(250, 0, 96);
}

div > div > div > div > div > div > div > div {
  height: 30vh;
  width: 30vh;
  background-color: rgb(212, 250, 0);
}

div > div > div > div > div > div > div > div > div {
  height: 20vh;
  width: 20vh;
  background-color: rgb(0, 242, 250);
}

div > div > div > div > div > div > div > div > div > div {
  height: 10vh;
  width: 10vh;
  background-color: rgb(239, 255, 173);
}

.first.most-inner {
  border-radius: 20%;
}

.most-inner {
  border-radius: 50%;
  position: relative;
}

.first {
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}

.most-inner:hover {
  background-color: white;
  transition: all 0.5s ease;
}

.most-inner::before {
  content: "a";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100px;
  background-color: white;
  transition: all 0.5 ease;
  border-radius: 20%;
}

.most-inner::after {
  content: "A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
  background-color: wheat;
  transition: all 0.5 ease;
  border-radius: 20%;
}


.most-inner:hover::before,
.most-inner:hover::after {
  top: 0;
}


/* body > div,
.most-inner {
  box-sizing: border-box;
  border: 20px solid black;
} */




